body {
    background-color: rgba(255,213,79,1.0000000000);
}

.hinhcontainer{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
.hinhcontainer2{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    margin: auto;
    margin-top: 100px;
    
}
.hinhcontainer2 img{
    padding: 0 80px;
    
}
/*style*/
/* General Style */
.common{
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
   }
   
   .common::before, .common::after{
    content: '';
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    -moz-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }
   
   .pic-caption {
    position: absolute;
    text-align: center;
    background: lightyellow;
    z-index: 999;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 30px;
    font-size: 16px;
   }
   
   .pic-caption a{
    text-decoration: none;
    font-family: pacifico;
    font-weight: bolder;
    font-size: 20px;

   }
   
   img {
    display: block;
   }
       

/* Slideup Caption */

.slideup img{
 -moz-transform: translate3d(0, 0, 0);
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
 -moz-transition: all 0.5s;
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}

.slideup .pic-caption{
 top: 100%;
 opacity: 1;
 -moz-transform: translate3d(0, 0, 0);
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}

.slideup:hover img{
 -moz-transform: translate3d(0, -20px, 0);
 -webkit-transform: translate3d(0, -20px, 0);
 transform: translate3d(0, -20px, 0);
}

.slideup:hover .pic-caption{
 -moz-transform: translate3d(0, -100%, 0);
 -webkit-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
 -moz-transition: all 0.5s;
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}
.sdt{
    height: 40px;
    background-color: grey;
    justify-content: center;
}